[submodule "js2-mode"]
	path = js2-mode
	url = git@github.com:mooz/js2-mode.git
[submodule "ESS"]
	path = ESS
	url = git@github.com:emacs-ess/ESS.git
[submodule "multiple-cursors.el"]
	path = multiple-cursors.el
	url = git@github.com:magnars/multiple-cursors.el.git
[submodule "emacs-flymake"]
	path = emacs-flymake
	url = git@github.com:illusori/emacs-flymake.git
[submodule "autopair"]
	path = autopair
	url = git@github.com:capitaomorte/autopair.git
[submodule "yaml-mode"]
	path = yaml-mode
	url = git@github.com:yoshiki/yaml-mode.git
[submodule "jshint-mode"]
	path = jshint-mode
	url = git@github.com:daleharvey/jshint-mode.git
[submodule "magit"]
	path = magit
	url = git@github.com:magit/magit.git
[submodule "yasnippet"]
	path = yasnippet
	url = https://github.com/capitaomorte/yasnippet
[submodule "bm"]
	path = bm
	url = git://github.com/joodland/bm.git
[submodule "cl-lib"]
	path = cl-lib
	url = git@github.com:emacsmirror/cl-lib.git
[submodule "git-modes"]
	path = git-modes
	url = git@github.com:magit/git-modes.git
